<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title||'Think Node' %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="/public/jquery/bootstrap.min.css">
	<link rel="stylesheet" href="/public/home/css/test.css">
</head>
<body>
	<header>123</header>
	<article>
		<h1><img src="http://www.baidu.com/img/bdlogo.gif" width="270" height="129"></h1>
	</article>	
	<footer>
		©2014 Thine Node
	</footer>
</body>
</html>