<!DOCTYPE html>
<html>
<head>
	<title>多泡</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/game/duopao/css/public.min.css">
	<link rel="stylesheet" type="text/css" href="/public/game/duopao/css/swipe.css">
	<link rel="stylesheet" type="text/css" href="/public/game/duopao/css/list.css">
	<link rel="stylesheet" type="text/css" href="/public/game/duopao/css/pull.css">
</head>
<body>
<header>
	<div class="logo"><div class="logo_img"></div></div>
	<a href="/home/platform/index" class="btn_home"></a>
	<a href="/home/platform/pull" class="btn_menu"></a>
</header>
<article id="content">
	<div class="search-bar">
		<div class="search-input"><input type="text" /></div>
		<a href="#" class="btn_search">搜索</a>
	</div>
	<div class="pull-list">
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container">
				<div class="img-block"><a href="#"><img src="/public/duopao/image/20140313174412.jpg" title="3D熊出没" alt="3D熊出没"></a></div>
			</div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统，不过他表示目前正在专注做iOS和Android平台，WP系统支持计划还没有具体的上市日期。游戏是推动硬件发展最大的动力，也是带来忠实用户最快的方式之一，虽然虚幻4登陆WP平台的时间尚未可知，但Epic Games公司的表态至少对于微软来说是个很好的消息。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container">
				<div class="img-block"><a href="#"><img src="/public/duopao/image/20140317153431.jpg"></a></div>
			</div>
			<p class="article-content">据AppData的数据，King公司以9350万DAU继续领跑Facebook开发商排行榜，为该公司在2014年3月份获得了23%以上的市场份额。微软同期的DAU数量为2660万，占据了将近7%的市场份额，随后是Zynga（1820万DAU）、Spotify（1240万DAU）和Supercell（1130万DAU）。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140411161943.jpg"></a></div></div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140317153431.jpg"></a></div></div>
			<p class="article-content">据AppData的数据，King公司以9350万DAU继续领跑Facebook开发商排行榜，为该公司在2014年3月份获得了23%以上的市场份额。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140317153431.jpg"></a></div></div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140411161943.jpg"></a></div></div>
			<p class="article-content">据AppData的数据，King公司以9350万DAU继续领跑Facebook开发商排行榜，为该公司在2014年3月份获得了23%以上的市场份额。微软同期的DAU数量为2660万，占据了将近7%的市场份额。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140317153431.jpg"></a></div></div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container">
				<div class="img-block"><a href="#"><img src="/public/duopao/image/20140313174412.jpg" title="3D熊出没" alt="3D熊出没"></a></div>
			</div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统，不过他表示目前正在专注做iOS和Android平台，WP系统支持计划还没有具体的上市日期。游戏是推动硬件发展最大的动力，也是带来忠实用户最快的方式之一。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140411161943.jpg"></a></div></div>
			<p class="article-content">据AppData的数据，King公司以9350万DAU继续领跑Facebook开发商排行榜，为该公司在2014年3月份获得了23%以上的市场份额。微软同期的DAU数量为2660万，占据了将近7%的市场份额。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container"><div class="img-block"><a href="#"><img src="/public/duopao/image/20140317153431.jpg"></a></div></div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统。</p>
		</div>
		<div class="pull-list-block pull-list-block-wookmark">
			<div class="img-container">
				<div class="img-block"><a href="#"><img src="/public/duopao/image/20140313174412.jpg" title="3D熊出没" alt="3D熊出没"></a></div>
			</div>
			<p class="article-content">据Epic公司共同创始人兼CEO Tim Sweeney透露，虚幻4引擎未来将支持微软的移动操作系统，不过他表示目前正在专注做iOS和Android平台，WP系统支持计划还没有具体的上市日期。游戏是推动硬件发展最大的动力，也是带来忠实用户最快的方式之一。</p>
		</div>
	</div>
</article>
<footer>
	<p>多泡游戏</p>
	<p>copyright @ cyou-inc.com</p>
</footer>
</script>
<script src="/public/jquery/require.min.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: '/public/duopao',
		paths: {
			"jquery": "/public/jquery/jquery-2.1.0.min",
			"wookmark": "/public/jquery/jquery.wookmark.min"
		}
	});
	require(["jquery", "wookmark", "page/pull"], function(jquery, wookmark, app){
		app.init();
	});
</script>
</body>
</html>